<div class="mx-auto" style="width: 406px;">
    <h2>Solicitudes de matricula</h2>
</div>

    


<div class="mx-auto" style="width: 450px;">
<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary">Pendiente de aprobación</button>
    <button type="button" class="btn btn-secondary">Historial de aprobaciones</button>
    
  </div>
</div>

<br>


<div class="row mx-auto" style="width: 450px;">
    <div class="col-sm">col-sm</div>
    <div class="col-sm">col-sm</div>
    <div class="col-sm">col-sm</div>
</div>
