<div class="container">
 <h1>{{general.titulo}}<a href="MatriculaEnLinea"> Aqui</a></h1>
 <h3>{{general.subtitulopregunta1}}</h3>
 <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel autem eius perspiciatis in laudantium consequuntur nihil assumenda itaque veniam corporis quos tempore quae, recusandae laborum doloremque officia fugiat reiciendis dignissimos.
 Nobis magnam distinctio voluptatibus minima reprehenderit? Modi, vero. Eum accusamus praesentium assumenda illum sit minus perspiciatis suscipit et, ipsa officia veritatis, consequuntur iure in cum, asperiores laborum minima fuga impedit.
 Distinctio facere illum sit! Accusamus, rerum recusandae quis ullam enim repellat officia expedita asperiores facilis blanditiis amet voluptate veritatis aliquid praesentium, qui quaerat nam iste quasi quod fugit sapiente cum!
 Ratione iusto fugit similique optio suscipit, labore sed totam iste amet, nesciunt quasi, officiis culpa eaque voluptatibus quaerat eligendi commodi ipsum. Fugiat pariatur iste reprehenderit deserunt nam dolore quibusdam suscipit.
 Omnis recusandae modi impedit! Nulla porro odio iusto dolores consequatur harum similique, velit ducimus voluptatem dolorum repellat, eveniet molestiae veritatis magnam voluptas sit recusandae quod debitis deleniti distinctio ratione! Ad?</p>
 <h3>{{general.subtitulopregunta2}}</h3>
 <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque libero cum aliquam, placeat perspiciatis rerum, vitae sint et doloribus qui, dicta quo dolor. Sunt optio libero dolores et. Repellat, illum.
 Laboriosam ea sit dolores voluptatibus quo tenetur qui optio, numquam iure veniam voluptas quas nam aperiam est odit! Quod libero saepe repudiandae cumque. Iusto dicta, dolore maxime perspiciatis et adipisci?
 Beatae, aliquid. Id dolore quo doloremque odit a, soluta est officiis quisquam quasi cumque repudiandae voluptatem architecto iste porro, aspernatur possimus modi recusandae eum deserunt facere reprehenderit deleniti. Cum, eius?
 Ea voluptas quidem, accusamus, impedit vero, fugit corrupti voluptate itaque repellendus adipisci suscipit incidunt id. Voluptatum cumque eos eaque ex ad obcaecati aliquid, praesentium officiis sed laborum voluptatem? Sit, sed.
 Accusantium doloremque fugit sequi! Hic, molestiae tempore quasi placeat quibusdam quo mollitia laborum quae, animi est cumque. Culpa aperiam, accusamus illo voluptates perferendis, odit non assumenda nobis, obcaecati dolores commodi?</P>
</div>
