
<div class="container" style="padding-top: 20px;">
  
  
    <div class="row">

      

        <div class="col-6">
          <h3>Aproderado</h3>

          <div class="col">
            <div *ngFor="let a of documentos" class="col-sm6">
              <p> Hola </p>
            </div>
          </div> 

          <ul>
            <li *ngFor="let t of documentos">
                <span>{{t.dni}}</span>
            </li>
        </ul>
                

          <form class="needs-validation" novalidate>
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label for="validationTooltip01">DNI</label>
                <input type="text" class="form-control" id="validationTooltip01" placeholder="Ingrese DNI" required>
                <div class="valid-tooltip">
                  Looks good!
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationTooltip02">Nombres</label>
                <input type="text" class="form-control" id="validationTooltip01" placeholder="Ingrese nombres" required>
                <div class="valid-tooltip">
                  Looks good!
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationTooltip03">Apellidos</label>
                <input type="text" class="form-control" id="validationTooltip02" placeholder="Ingrese apellidos" required>
                <div class="valid-tooltip">
                  Looks good!
                </div>
              </div>
            </div>
            
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label for="validationTooltip04">Parentezco</label>
                <input type="text" class="form-control" id="validationTooltip01" placeholder="Ingrese parentezco" required>
                <div class="valid-tooltip">
                  Looks good!
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationTooltip05">Telefono</label>
                <input type="number" class="form-control" id="validationTooltip01" placeholder="" value="+51 " required>
                <div class="valid-tooltip">
                  Looks good!
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationTooltip06">Correo electrónico</label>
                <input type="email" class="form-control" id="validationTooltip02" placeholder="Ingrese su correo" required>
                <div class="valid-tooltip">
                  Looks good!
                </div>
              </div>

              <div class="col-12">
                <label for="inputAddress">Dirección</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="Ingrese su dirección">
              </div>

            </div>   

            <br>
            <br>
            <br>


            
            
            <div class="input-group mb-3">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile01">
                <label class="custom-file-label" for="inputGroupFile02">Adjunte DNI de apoderado</label>
              </div>
            </div>

            <div class="input-group mb-3">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile02">
                <label class="custom-file-label" for="inputGroupFile02">Adjunte partida de nacimiento o DNI de estudiante</label>
              </div>
            </div>

            <br>
            <br>
            <br>

            
          </form>

        </div>
        <div class="col-6">
            <h3>Alumno</h3>

            <form class="needs-validation" novalidate>
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label for="validationTooltip01">DNI</label>
                  <input type="number" class="form-control" id="validationTooltip01" placeholder="Ingrese DNI" required>
                  <div class="valid-tooltip">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <label for="validationTooltip02">Nombres</label>
                  <input type="text" class="form-control" id="validationTooltip01" placeholder="Ingrese nombres" required>
                  <div class="valid-tooltip">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <label for="validationTooltip03">Apellidos</label>
                  <input type="text" class="form-control" id="validationTooltip02" placeholder="Ingrese apellidos" required>
                  <div class="valid-tooltip">
                    Looks good!
                  </div>
                </div>
                
              </div>

              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label for="validationTooltip01">Fecha de nacimiento</label>
                  <input type="date" class="form-control" id="validationTooltip01" placeholder="Ingrese DNI" required>
                  <div class="valid-tooltip">
                    Looks good!
                  </div>
                </div>
              </div>
              
              
              
              <label for="validationTooltip01">Selección de colegio</label> 

              <div class="form-row">
                
                <div class="col-md-4 mb-3">
                  
                  <select id="inputState" class="form-control">
                    <option selected>Nivel</option>
                    <option>Inicial</option>
                    <option>Primaria</option>
                    <option>Secundaria</option>
                  </select>
                  <div class="valid-tooltip">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  
                  <select id="inputState" class="form-control">
                    <option selected>Grado</option>
                    <option>1ro</option>
                    <option>2do</option>
                    <option>3ro</option>
                    <option>4to</option>
                    <option>5to</option>
                    <option>6to</option>
                  </select>
                  <div class="valid-tooltip">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  
                  <input type="text" class="form-control" id="validationTooltip02" placeholder="Código de colegioy" required>
                  <div class="valid-tooltip">
                    Looks good!
                  </div>
                </div>
                
              </div>

              <br>
              <br>
              <br>
              <br>
              <br>
              <br>

                           
                
              
            </form>
            
                 
                
                          
    
        
    </div>

    
</div>


<div class="mx-auto" style="width: 200px;">
  <button class="btn btn-primary" type="submit">Enviar solicitud</button>
</div>

<br>
