<div class="container" style="padding-top: 5px;">
    <h1>PONTE EN CONTACTO CON NOSOTROS HOY</h1>
    <div class="row">
        <div class="col-6">
            <form [formGroup] = "contactenosForm">
                <div class="form-group">
                    <label>Motivo: </label>
                    <select id="inputState" class="form-control">
                        <option selected>Seleccione su motivo aquí</option>
                        <option>Consulta</option>
                        <option>Solicitud</option>
                        <option>Reclamo</option>
                        <option>Sugerencia</option>
                      </select>    
                </div>
                <div class="form-group">
                    <label>Nombre:</label>
                    <input type="text" formControlName="Nombre" class="form-control" placeholder="Ingrese su nombre aquí">
                </div>
                <div class="form-group">
                    <label>Número:</label>
                    <input type="text" class="form-control" id="validationTooltip01" placeholder="" value="+51 " required>
                </div>
                <div class="form-group">
                    <label>Correo:</label>
                    <input type="email" formControlName="Correo" class="form-control" placeholder="Ingrese su correo aquí">
                </div>
                <div class="form-group">
                    <label>Mensaje:</label>
                    <textarea formControlName="Mensaje" class="form-control" rows="6" placeholder="Ingrese su mensaje aquí"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-danger">ENVIAR</button>
                </div>
            </form>
        </div>
        <div class="col-6">
            <h3><u>CONTACTANOS</u></h3>
                <p>
                <b>Número: </b>+5116155800
                <br>
                <b>Correo: </b>contacto@minedu.com.pe
                <br>
                <b>Dirección: </b>C. del Comercio 193, San Borja 15021
                <br>
                </p>
            <h3><u>UBÍCANOS</u></h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2387.7617773647476!2d-77.00155833094496!3d-12.084695351905872!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c7d2c362f24d%3A0x708489725ee79ab4!2sMinisterio%20de%20Educaci%C3%B3n%20del%20Per%C3%BA!5e0!3m2!1ses!2spe!4v1630454338967!5m2!1ses!2spe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            
        </div>
    </div>
</div>>

