<div class="container">
    <form action="action_page.php" method="post">
        <div class="imgcontainer">
        <img src="" >
        </div>
        <p>INICIO DE SESION</p>
        <div class="container">
            <label for="uname"><b>Usuario:</b></label> <br>
            <input type="text" placeholder="Ingresa Usuario" name="uname" required>
            <br>
            <p></p>
            <label for="psw"><b>Contraseña: </b></label> <br>
            <input type="password" placeholder="Ingresa Contraseña" name="psw" required>
            <br>
            <p></p>
            <button type="submit">Ingresar</button>
            <Br>
            <span class="psw">Olvidaste <a href="#">tu contraseña?</a></span>
        </div>
    </form>  
</div>