<nav class="navbar navbar-dark navbar-expand-lg fixed-top" id="mainNav" style="opacity: 1;background-color: #CC2734;">
  <div class="container"><a class="navbar-brand js-scroll-trigger" routerLink="home" style="color: #FBF8F8FF;"><img src="../assets/img/logo.png" style="border-radius: 50%;"></a><button class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarResponsive" type="button" data-toogle="collapse"
          aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" style="background-color: #FBF8F8FF;"><i class="fa fa-bars" style="color: rgba(22, 18, 18, 0.75);"></i></button>
      <div class="collapse navbar-collapse"
          id="navbarResponsive">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item" role="presentation"><a class="nav-link" routerLink="infGeneral">Informacion General</a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href="#">Buscar Vacantes</a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href="MatriculaEnLinea">Matricula en Linea</a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href="#">Estado Matricula</a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" routerlink="contactenos">Contactenos</a></li>
         </ul>
        </div>
  </div>
</nav>
<section style="min-height:600px; margin-top: 150px; padding-top:0px;padding-bottom:0px;">
<router-outlet></router-outlet>
</section>