<div class="container">
    <div class="row">
        <img src="../assets/img/homep.PNG" class="img-fluid" alt="...">
    </div>
    <div class=row>
        <h2 style="margin-left: 40%; margin-top: 20px;">Ver video</h2>
        <div class="ratio ratio-16x9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/jaO_50RoMsE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="margin-left: 40%;"></iframe>
          </div>
        <hr/>
    </div>
  <br>
  <h2>Informate Sobre Novedades</h2>
    <div class="row">
  
        <div class=col-md-6>
            <div class="card">
                <img src="../assets/img/home1.PNG" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">¡Atención padres! desde hoy se podrá solicitar matrícula en los colegios públicos de mayor demanda</h5>
                  <p class="card-text">Proceso es virtual y el objetivo es evitar aglomeraciones alrededor de las instituciones educativas durante la emergencia sanitaria.</p>
                  <a href="#" class="btn btn-primary">Mas Informacion</a>
                </div>
              </div>
        </div>
        <div class=col-md-6>
            <div class="card">
                <img src="../assets/img/home2.PNG" class="card-img-top" alt="..." >
                <div class="card-body">
                  <h5 class="card-title">Ministro de Educación afirma que su gestión pondrá énfasis en la innovación</h5>
                  <p class="card-text">Regreso a la presencialidad tomará en cuenta preocupaciones de las regiones, padres de familia, profesores y estudiantes, indica.</p>
                  <a href="#" class="btn btn-primary">Mas informacion</a>
                </div>
              </div>
        </div>  
    </div>
</div>