<div class="container">
  <h2>Encuentra Vacantes Disponibles en colegios de tu Zona</h2>
  <div class="row">
    <div class="col-md-2">
      <label for="provincia">{{provincia}}</label>
    </div>
    <div class="col-md-10">
      <select id="provincia" name="country">
        <option value="lima" *ngFor="let p of vacantes">{{ p.provinciaColegio }}<i class="fas fa-lightbulb-exclamation    "></i></option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <label for="distrito">{{distrito}}</label>
    </div>
    <div class="col-md-10">
      <select id="distrito" name="country">
        <option value="Surco" *ngFor="let p of vacantes">{{ p.distritoColegio}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <label for="nivel">Nivel</label>
    </div>
    <div class="col-md-10">
      <select id="nivel" name="country">
        <option value="inicial" *ngFor="let p of vacantes">{{ p.tipoGradoSeccion }}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <label for="grado">Grado</label>
    </div>
    <div class="col-md-10">
      <select id="grado" name="country">
        <option value="primero" *ngFor="let p of vacantes">{{ p.grado }}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <button type="button" class="btn btn-danger" id="ConsultaVacantes">Consultar Vacantes</button>
  </div>

  <div class="container px-4 py-5" id="icon-grid">
    <h2 class="pb-2 border-bottom">Resultado de Busqueda</h2>
        
          <div class="row">
            <div class="col-sm-6" *ngFor="let rvacantes of vacantes">
              <div class="card">
                <div class="card-body">
                  <img src="./assets/img/schol.png" class="img-fluid img-thumbnail" width="40px" style="border-radius: 50%;"
                  alt="...">
                  <h5 class="card-title">Colegio: {{rvacantes.descripcionColegio}}</h5>
                  <p class="card-text">Distrito: {{rvacantes.distritoColegio}}</p>
                  <p class="card-text">Provincia: {{rvacantes.provinciaColegio}}</p>
                  <p class="card-text">Direccion: {{rvacantes.direccionColegio}}</p>
                  <p class="card-text">Grado: {{rvacantes.tipoGradoSeccion}}</p>
                  <p class="card-text">Vacantes Disponibles: {{rvacantes.totalDisponibleVacante}}</p>
                  <p class="card-text">Telefono: {{rvacantes.telefonoColegio}}</p>
                  </div>
              </div>
            </div>
           </div>
  </div>
</div>