* {
    box-sizing: border-box;
  }
.container{
    color: rgb(6, 6, 10);
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
 
  }
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
#country{
width: 60%;
}
#ConsultaVacantes{
    margin-left: 30%;
    height: 60px;
    margin-bottom: 30px;
    background: linear-gradient(#b40505, #f1879e); 
}
#ConsultaVacantes:hover{
    background: rgb(17, 240, 110);
    opacity: 0.7;
    box-shadow: cadetblue;
}
label{
  margin-left: 60px;
}
.btn-primary{
  background-color: rgba(34, 163, 45, 0.925);
}
.btn-primary:hover{
  background: rgb(10, 152, 196);
  opacity: 0.7;
  box-shadow: cadetblue;
}